@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("quora.com") {

	:root {
		--pri-bg-color: #282c34;
		/* --pri-bg-color: #666; /* for development */
		--sec-bg-color: #333842;
		--thr-bg-color: #2c313a; /* use in disabled boxes */

		--pri-bdr-color: rgba(255,255,255,0.24);
		--sec-bdr-color: #181a1f;

		--pri-color: #d7dae0;
		--sec-color: #9da5b4;
		--thr-color: rgba(157, 165, 180, 0.6);

		--placeholder-color: rgba(157, 165, 180, 0.6);

		--title-color: rgba(255,255,255,0.85);

		--link-color: #6494ed;

		--hover-bg-color: rgba(255,255,255,0.24);
		--hover-color: var(--pri-color);
	}
	a {
		--color: var(--link-color);
	}

	body {
		background-color: var(--pri-bg-color);
		color: var(--pri-color);
	}

	a {
		color: var(--color);
	}

	/* header */
	.SiteHeader {
		background-color: var(--pri-bg-color);
		border-color: var(--sec-bdr-color);
		color: var(--pri-color);
	}
	.SiteHeader .SiteHeaderNavItem .nav_item_link, .SiteHeader .site_header_nav_item .nav_item_link {
		color: var(--sec-color);
	}
	.SiteHeader .SiteHeaderNavItem .nav_item_link.hover, .SiteHeader .site_header_nav_item .nav_item_link.hover, .SiteHeader .SiteHeaderNavItem .nav_item_link:hover, .SiteHeader .site_header_nav_item .nav_item_link:hover, .SiteHeader .SiteHeaderNavItem .nav_item_link:active, .SiteHeader .site_header_nav_item .nav_item_link:active {
		background-color: var(--sec-bg-color);
	}
	.LookupBarSelector .selector_input.text {
		background-color: var(--pri-bg-color);
		border-color: var(--pri-bdr-color);
		box-shadow: none;
	}
	.search_focused .LookupBarSelector .selector_input.text:focus {
		background-color: var(--pri-bg-color);
		border-color: var(--pri-bdr-color);
		color: var(--pri-color);
	}
	.ask_bar .AddQuestionLookupBarButton {
		background-color: var(--sec-bg-color);
		border-color: var(--pri-bdr-color);
		box-shadow: none;
		color: var(--sec-color);
	}

	/* content left-side */
	.grid_page h3 {
		border-color: var(--pri-bdr-color);
		color: var(--title-color);
	}
	.EditableList .EditableListItem>a, .EditableList .StaticListItem>a, .EditableList .list_empty>a {
		color: var(--pri-color);
	}
	.EditableList .EditableListItem>a:hover, .EditableList .StaticListItem>a:hover, .EditableList .list_empty>a:hover {
		color: var(--color);
	}
	.EditableList .nav_item_selected a, .EditableList .StaticListItem>.selected {
		background-color: var(--sec-bg-color);
		border-color: var(--sec-bdr-color);
	}

	.Selector .SelectorResults {
		background-color: var(--sec-bg-color);
		color: var(--pri-color);
	}
	.HomeNavListHoverMenu .HomePagePinnedTopicSelector .HomePagePinnedTopicSelectorResults {
		border-color: var(--pri-bdr-color);
	}
	.HomeNavListHoverMenu .HomePagePinnedTopicSelector .HomePagePinnedTopicSelectorResults .topic {
		border-color: var(--pri-bdr-color);
	}

	/* content right-side */
	.new_user_checklist {
		background-color: var(--pri-bg-color);
		border-color: var(--pri-bdr-color);
	}
	.new_user_checklist .title {
		background-color: var(--sec-bg-color);
		border-color: var(--pri-bdr-color);
	}
	.new_user_checklist .checklist_row .check_wrapper.complete .check {
		background-color: transparent;
	}

	/* content center */
	.Bundle .section_header, .HomeMultifeed div.PrefeedDigestBundle .section_header {
		border-color: var(--pri-bdr-color);
	}
	.Bundle .section_header .header_text .header_text_main, .HomeMultifeed div.PrefeedDigestBundle .section_header .header_text .header_text_main, .Bundle .section_header .header_text .TopicNameSpan, .HomeMultifeed div.PrefeedDigestBundle .section_header .header_text .TopicNameSpan, .Bundle .section_header .header_text .header_text_main .user, .HomeMultifeed div.PrefeedDigestBundle .section_header .header_text .header_text_main .user {
		color: var(--pri-color);
	}

	.AddQuestionPrompt .AddQuestionLookupBarButton, .AddQuestionPrompt .AskQuestionButton {
		border-color: var(--pri-bdr-color);
	}

	.feed_item {
		border-bottom: 0;
	}
	.Bundle .StoryItemToggleModal {
		border-bottom-color: var(--pri-bdr-color);
	}
	.Bundle .toggle_modal_inline.hover_highlight:hover, .HomeMultifeed div.PrefeedDigestBundle .toggle_modal_inline.hover_highlight:hover {
		background-color: var(--sec-bg-color);
		border-color: var(--pri-bdr-color);
	}
	.StoryItemToggleModal.read_item {
		background-color: var(--sec-bg-color);
		border-color: var(--pri-bdr-color);
	}

	._type_serif_title_medium {
		color: var(--pri-color);
	}

	.ContentHeader .feed_item_answer_user .user, .ContentHeader .feed_item_answer_user .anon_user {
		color: var(--pri-color);
	}

	.ActionBar .primary_action {
		background-color: transparent;
		border-color: var(--pri-bdr-color);
		box-shadow: none;
		color: var(--sec-color);
	}
	.go_to_feed_button, .view_answer, .InviteToFollow, .WriteAnswer {
		background-color: transparent;
		border-color: var(--pri-bdr-color);
		box-shadow: none;
		color: var(--sec-color);
	}
	.action_button {
		background-color: transparent;
		border-color: var(--pri-bdr-color);
		box-shadow: none;
		color: var(--sec-color);
	}

	/* upcoming sessions */
	.feed_ama_taking_questions_story {
		color: var(--pri-color);
	}
	.feed_ama_taking_questions_story .container {
		border-color: var(--pri-bdr-color);
	}
	.feed_ama_taking_questions_story .cta {
		border-color: var(--pri-bdr-color);
		color: var(--link-color);
	}
	.feed_ama_taking_questions_story .container:hover {
		background-color: var(--hover-bg-color);
	}

	/* discover new people */
	.HomeMultifeed .SuggestedAMAsBundle, .HomeMultifeed .SuggestedUsersBundle, .HomeMultifeed .SuggestedTopicsBundle {
		border-color: var(--pri-bdr-color);
	}
	.Carousel .left, .Carousel .right {
		background-color: var(--sec-bg-color);
		border-color: var(--pri-bdr-color);
		outline-color: var(--sec-bg-color);
	}
	.SuggestedUsersBundle .container, .SuggestedTopicsBundle .container, .UserCarousel .container, .TopicCarousel .container {
		background-color: var(--pri-bg-color);
	}
	.SuggestedUsersBundle .UserCarouselItem, .SuggestedTopicsBundle .UserCarouselItem, .UserCarousel .UserCarouselItem, .TopicCarousel .UserCarouselItem, .SuggestedUsersBundle .TopicCarouselItem, .SuggestedTopicsBundle .TopicCarouselItem, .UserCarousel .TopicCarouselItem, .TopicCarousel .TopicCarouselItem {
		border-color: var(--pri-bdr-color);
	}
	.SuggestedUsersBundle .UserCarouselItem .item_text .name, .SuggestedTopicsBundle .UserCarouselItem .item_text .name, .UserCarousel .UserCarouselItem .item_text .name, .TopicCarousel .UserCarouselItem .item_text .name, .SuggestedUsersBundle .TopicCarouselItem .item_text .name, .SuggestedTopicsBundle .TopicCarouselItem .item_text .name, .UserCarousel .TopicCarouselItem .item_text .name, .TopicCarousel .TopicCarouselItem .item_text .name, .SuggestedUsersBundle .UserCarouselItem .item_text .name a, .SuggestedTopicsBundle .UserCarouselItem .item_text .name a, .UserCarousel .UserCarouselItem .item_text .name a, .TopicCarousel .UserCarouselItem .item_text .name a, .SuggestedUsersBundle .TopicCarouselItem .item_text .name a, .SuggestedTopicsBundle .TopicCarouselItem .item_text .name a, .UserCarousel .TopicCarouselItem .item_text .name a, .TopicCarousel .TopicCarouselItem .item_text .name a {
		color: var(--pri-color);
	}
	.SuggestedUsersBundle .UserCarouselItem .item_text .sig, .SuggestedTopicsBundle .UserCarouselItem .item_text .sig, .UserCarousel .UserCarouselItem .item_text .sig, .TopicCarousel .UserCarouselItem .item_text .sig, .SuggestedUsersBundle .TopicCarouselItem .item_text .sig, .SuggestedTopicsBundle .TopicCarouselItem .item_text .sig, .UserCarousel .TopicCarouselItem .item_text .sig, .TopicCarousel .TopicCarouselItem .item_text .sig {
		color: var(--pri-color);
	}

	.follow_button, .ama_a2a_question, .Topic.Button, .Session.Button, .User.Button, .PileOnRequest.Button {
		background-color: transparent;
		border-color: var(--pri-bdr-color);
		box-shadow: none;
	}
	.follow_button .count:before, .ama_a2a_question .count:before, .Topic.Button .count:before, .Session.Button .count:before, .User.Button .count:before, .PileOnRequest.Button .count:before {
		background-color: var(--pri-bdr-color);
	}

	/* content detail page: left-side */
	.NewGridQuestionPage .header .question_text_edit h1, .NewGridQuestionPage .QuestionArea .question_text_edit h1, .NewGridQuestionPage .header .question_text_edit .qtext_editor_content, .NewGridQuestionPage .QuestionArea .question_text_edit .qtext_editor_content {
		color: var(--pri-color);
	}
	.QuestionPageAnswerHeader, .AnswerStandaloneActorHeader {
		color: var(--pri-color);
	}
	.NewGridQuestionPage .AnswerBase {
		border-color: var(--pri-bdr-color);
	}
	.CollapsedAnswersSectionCollapsed .inner {
		border-color: var(--pri-bdr-color);
	}
	._type_serif_title_large {
		color: var(--pri-color);
	}

	/* content detail page: right-side */
	.activation_plain_box_incomplete {
		border-color: var(--pri-bdr-color);
	}
	.QuestionMain .right_col_fixable {
		background-color: inherit;
	}
	.RelatedQuestions {
		background-color: inherit;
	}
	.question_related.list {
		background-color: inherit;
	}

	/* footer */
	.ContentPageFeed, .LoggedOutContentPageFeed {
		background-color: var(--sec-bg-color);
		border-color: var(--pri-bdr-color);
	}
	.ContentPageFeed:nth-child(2n) {
		border: 0;
	}
	.ContentPageFeed .title, .LoggedOutContentPageFeed .title {
		color: var(--sec-color);
	}
	.ContentPageFeedStoryItem {
		background-color: var(--pri-bg-color);
		border-color: var(--pri-bdr-color);
	}
	.ContentPageFeed .feed_item_overlay .read_more_link, .LoggedOutContentPageFeed .feed_item_overlay .read_more_link {
		background-color: var(--thr-bg-color);
		border-color: var(--pri-bdr-color);
	}

	/* popup menu */
	.hover_menu .hover_menu_contents {
		background-color: var(--sec-bg-color);
		border-color: var(--pri-bdr-color);
		box-shadow: none;
	}
	.menu .menu_list_item, .hover_menu .menu_list_item {
		border-color: var(--pri-bdr-color);
	}
	.hover_menu.no_body_attach .menu_list_item a {
		color: var(--pri-color);
	}
	.menu .menu_list_item a:hover, .hover_menu .menu_list_item a:hover, .menu .menu_list_item .completed:hover, .hover_menu .menu_list_item .completed:hover {
		background-color: var(--hover-bg-color);
	}
	.hover_menu.no_body_attach .menu_list_item a:focus, .hover_menu.no_body_attach .menu_list_item a:hover {
		color: var(--hover-color);
	}
	.menu .menu_list_item a, .hover_menu .menu_list_item a, .menu .menu_list_item .completed, .hover_menu .menu_list_item .completed {
		border-radius: 0;
	}

	.toggle_modal_inline.StoryItemToggleModal ul li, .toggle_modal_inline.StoryItemToggleModal ol li {
		padding-bottom: 0;
	}

	.hover_menu.show_nub:before {
		border-bottom-color: var(--pri-bdr-color);
	}
	.hover_menu.show_nub:after {
		border-bottom-color: var(--sec-bg-color);
	}
	.hover_menu.show_nub .menu_list_items:not(.unified_menu) .menu_list_item:first-child:hover:before,.hover_menu.show_nub .unified_menu>div:first-child:hover:before,.hover_menu.show_nub .unified_menu>.menu_list_item:first-child:hover:before{
		border-bottom-color: var(--hover-bg-color);
	}
	.hover_menu.show_nub.hover_menu_above:before {
		border-top-color: var(--pri-bdr-color);
	}
	.hover_menu.show_nub.hover_menu_above:after {
		border-top-color: var(--sec-bg-color);
	}
	.hover_menu.show_nub.hover_menu_above .menu_list_item:last-child:hover:before, .hover_menu.show_nub.hover_menu_above .unified_menu>div:last-child:hover:before, .hover_menu.show_nub.hover_menu_above .unified_menu>.menu_list_item:last-child:hover:before{
		border-top-color: var(--hover-bg-color);
	}
	.hover_menu.show_nub.hover_menu_above.right_align .unified_menu>div:last-child:hover:before, .hover_menu.show_nub.hover_menu_above.right_align .unified_menu>.menu_list_item:last-child:hover:before {
		right: 6px;
		bottom: -6px;
	}

	/* modal view */
	.Modal .modal_header, .Modal .modal_content, .Modal .modal_content .modal_body {
		background-color: var(--sec-bg-color);
	}
	.modal_overlay .modal_fixed_close {
		background-color: var(--sec-bg-color);
	}
	.ans_page_question_header {
		border-color: var(--pri-bdr-color);
	}
	._type_serif_title_xlarge {
		color: var(--pri-color);
	}
	.modal_promoted_content {
		border-color: var(--pri-bdr-color);
	}

	/* actionbar (a floating bar) */
	.ActionBar.sticky {
		background-color: var(--sec-bg-color);
		border-color: var(--sec-bdr-color);
	}

}
