@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("v2ex.com") {

  :root {
    --bg-color: #000000;
    --bg-color2: #212121;
    --bg-color3: #303030;
    --pop-bg-color: #424242;

    --primary-text: #FFFFFF;
    --secondary-text: rgba(255,255,255,0.7);
    --disabled-text: rgba(255,255,255,0.5);
    --hint-text: rgba(255,255,255,0.5);

    --divider-color: rgba(255,255,255,0.12);

    --link-text: var(--secondary-text);
    --link-hover-text: var(--primary-text);
  }


  body {
    background-color: var(--bg-color);
    color: var(--primary-text);
    font-family: Merriweather, Roboto, Noto, "Noto Serif CJK SC", "Microsoft YaHei UI", sans-serif;
  }
  pre, code {
    background-color: var(--bg-color3);
    color: var(--primary-text);
    font-family: PragmataPro, "Fira Code", "Fira Mono", monospace;
  }


  #Top {
    background-color: var(--bg-color2);
  }
  a.top:link, a.top:visited {
    color: var(--link-text);
  }
  a.top:hover {
    color: var(--link-hover-text);
  }


  #Wrapper {
    background-color: var(--bg-color3);
    background-image: none;
  }
  a.item_node {
    background-color: var(--bg-color3);
    border-color: var(--bd-color);
    color: var(--link-color);
  }
  a.item_node:hover {
    background-color: var(--bg-color3);
    border-color: var(--bd-color);
    color: var(--link-hover-color);
  }
  #Main .box .cell {
    background-color: var(--bg-color3) !important;
  }
  .box {
    border-bottom-width: 0;
  }
  .inner {
    background-color: var(--bg-color2) !important;
    color: var(--secondary-text);
  }
  .cell, #Main .box .cell.item {
    background-color: var(--bg-color2) !important;
    border-color: var(--divider-color);
  }
  .cell:last-child {
    border-width: 0;
  }
  .cell a {
    color: var(--link-text);
  }
  .cell a:hover {
    color: var(--link-hover-text);
  }
  .item_title a {
    color: var(--link-text);
    text-shadow: none;
    text-decoration: none;
  }
  .item_title a:hover {
    color: var(--link-hover-text);
    text-shadow: none;
  }
  .item_hot_topic_title a {
    color: var(--link-text);
    text-shadow: none;
  }
  .small.fade a.node {
    color: var(--link-text);
    background-color: var(--bg-color3);
  }
  #Main .box .header {
    background-color: var(--bg-color2);
    border-color: var(--divider-color);
  }
  #Main .box .cell {
    background-color: var(--bg-color2) !important;
  }
  .topic_content {
    color: var(--secondary-text);
    font-size: 22px;
  }
  .topic_content pre code {
    font-size: 16px;
    line-height: 120%;
  }
  .reply_content {
    color: var(--secondary-text);
    font-size: 22px;
  }
  a.count_livid:link, a.count_livid:visited {
    background-color: var(--bg-color3);
    color: var(--link-text);
  }
  a.count_livid:hover {
    color: var(--link-hover-text);
  }
  a.tag:link {
    background-color: var(--bg-color3);
    color: var(--link-text);
  }
  a.tag:hover {
    color: var(--link-hover-text);
  }
  .no {
    background-color: var(--bg-color3);
    color: var(--secondary-color);
  }


  #Bottom {
    background-color: var(--bg-color2);
  }
  a.dark:link, a.dark:visited {
    color: var(--link-text);
  }

}
