@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("duckduckgo.com") {

  body {
    color: #333;
  }

  body, .body--home, .site-wrapper, .region__body, .badge-link, .modal__box, .map-module-footer {
    background-color: #333;
  }

  /* header */
  .header-wrap {
    background-color: #333;
  }

  /* zero click */
  .zci {
    background-color: #292929;
  }
  .zci, .zci::before, .tileview .metabar--fixed, .tileview--grid .metabar--fixed, .tileview--grid .metabar--fixed.is-stuck, .mapview.is-expanded .zci {
    background-color: #292929;
  }
  .zci__body, .zci__detail, .zci__caption, .zci__header, .zci__body h1, .zci__detail h1, .zci__body h2, .zci__detail h2, .zci__body h3, .zci__detail h3, .zci__body h4, .zci__detail h4, .zci__body h5, .zci__detail h5, .zci__body h6, .zci__detail h6, .metabar, .c-detail__title, .c-detail__title__sub, .c-detail__desc, .c-detail__filemeta, .c-detail__more, .c-detail__user, .c-detail__count, .c-detail__date, .c-info, .c-info__title, .c-icon, .c-icon__title, .c-icon__content, .c-score, dropdown__selected, dropdown__selected:hover, dropdown__selected:focus, .metabar__primary-text--linked, .has-dropdowns .metabar__primary-text--linked, .module {
    color: #dadada;
  }
  .tile, .tile--s, .bg-tile, .tile--m--mob, .tile__media--pr, .at-topic .tile.active-topic, .at-topic .tile.highlight, .tile__foot--news, .tile--f__main, .tile--f__alt, .tile__num::before, .is-mobile .c-info__link, .is-mobile .c-info__link:hover, .tile__media .tile__media__img {
    background-color: #333;
  }
  .tile, .tile__title, .tile h4, .tile--m--mob, .at-topic .tile__title, .at-topic .tile.active-topic .tile__title, .at-topic .tile.highlight .tile__title, .is-mobile .c-info__link, .is-mobile .c-info__link:hover, .tile--loc, .tile .tile__price b, .tile__segment__title, .tile--loc__alt .dropdown__button::after {
    color: #dadada;
  }
  .tile, .tile--s, .tile--info .tile--map {
    border-color: #1f1f1f;
  }

  .metabar__mode {
    background-color: #434343;
  }
  .metabar__grid-btn {
    color: #b6b6b6;
  }
  .metabar__mode.is-disabled, .metabar__mode.is-disabled:hover, .metabar__mode.is-disabled:active {
    background-color: transparent;
    color: #434343;
  }

  /* search filters */
  .modal__list__link:hover, .modal__list__link.is-active, .modal__list__link.is-highlighted, .modal--dropdown--region .modal__list__link.is-highlighted, .switch, .cloudsave {
    background-color: #434343;
  }
  .search-filters-wrap::before {
    background-image: linear-gradient(90deg, #333333, rgba(20%, 20%, 20%, 0));
  }
  .search-filters-wrap::after {
    background-image: linear-gradient(90deg, rgba(20%, 20%, 20%, 0), #333333);
  }

  /* result */
  .tag-home__link, .tag-home__link:hover, .tag-home__link:visited, .tag-home__link:active, .tag-home__nav__close:hover, .results, .results--powered, .msg, .dropdown--region.has-inactive-region .dropdown__button::after, .dropdown:hover .dropdown__button, .dropdown.is-open .dropdown__button, .dropdown.is-active:hover .dropdown__button, .feedback-btn__icon:hover, .feedback-btn__send:hover, .feedback-btn__icon:focus, .feedback-btn__send:focus, .map-module-footer .btn.btn--primary:hover {
    color: #c2c2c2;
  }
  .result.highlight, .sitelinks_td.highlight, .msg--result.highlight, .msg--box, .about-info-box__toggle--hover .about-info-box__toggle__chevron, .about-info-box__toggle--hover .about-info-box__toggle__chevron--collapse {
    background-color: #434343;
  }

  /* result title */
  .result__a, .result__a:hover, .result__a:active, .highlight .result__a, .highlight .result__a:hover, .result__a:visited, .tag-home, .page-settings, .frm__label, .badge-link__text, .badge-link__cookie-msg, .no-results__related-search a, .no-results__related-search a:visited, .no-results__related-search a:active, .no-results__related-search a:hover, .modal__box, .modal__header__title, .modal__header__clear:hover, .modal__list__link, .modal__list__link:hover, .modal__list__link:visited, .modal__list__link:focus, .modal__list__link.is-highlighted, .modal--dropdown .modal__list__link.is-selected, .modal--dropdown .modal__list__link.is-selected:hover, .feedback-btn__icon, .feedback-btn__send, .feedback-modal__heading__prompt, .feedback-modal .frm__label, .module__title__link, .module__title__link:hover, .module__title__link:visited, .module__title__link:active, .about-info-box__heading, .about-info-box__info-label, .about-info-box__info-value, .about-info-box__link-row__link, .about-info-box__link-row__link:hover, .dropdown .dropdown__button, .dropdown.is-active .dropdown__button, .module__wikipedia-url, .module__wikipedia-url:hover, .module__official-url, .module__official-url:hover, .map-module-address, .map-module-place, .map-module-footer .btn.btn--primary, .modules__images__more, .modules__images__more:visited, .modules__images__more:active, .modules__images__more:hover {
    color: #e6e6e6;
  }

  /* result description */
  .result__snippet, .result__snippet b, .result__snippet a, .result__snippet a:hover, .result__snippet a:active, .result__snippet a:visited, .result__snippet .sponsored__sitelink__comma, .result__snippet .sponsored__sitelink__comma:hover, .result__snippet .sponsored__sitelink__comma:active, .module__text, .maps-disambiguation__link-row__link, .dropdown--directions .dropdown__button {
    color: #c2c2c2;
  }

  /* result url */
  .result__url, .result__url:visited, .result__url:active, .result__url:hover, a.result__menu, a.result__menu:hover, a.result__menu:active, a.result__menu:visited, .result--ad .result__url, .result--ad .result__url:hover, .result--ad .result__url:active, .result--ad .result__url:visited, .result__sitelinks--large .sponsored__sitelink, .result__sitelinks--large .sponsored__sitelink:hover, .result__sitelinks--large .sponsored__sitelink:hover, .sponsored__sitelink__comma, .sponsored__sitelink__comma:hover, .sponsored__sitelink__comma:active, .sponsored__sitelink, .sponsored__sitelink:visited, .sponsored__sitelink:hover {
    color: #c2c2c2;
  }

  /* feedback button */
  .set-bookmarklet__input, .set-bookmarklet__data, .btn, .btn:visited, .btn:hover, .btn.is-active, .btn:active, .btn.btn--primary, .btn--primary:hover, .frm__input {
    background-color: #4b4b4b;
    border-color: #434343;
    color: #c2c2c2;
  }
  .result__a, .result__a:hover, .result__a:active, .highlight .result__a, .highlight .result__a:hover, .result__a:visited, .tag-home, .page-settings, .frm__label, .badge-link__text, .badge-link__cookie-msg, .no-results__related-search a, .no-results__related-search a:visited, .no-results__related-search a:active, .no-results__related-search a:hover, .modal__box, .modal__header__title, .modal__header__clear:hover, .modal__list__link, .modal__list__link:hover, .modal__list__link:visited, .modal__list__link:focus, .modal__list__link.is-highlighted, .modal--dropdown .modal__list__link.is-selected, .modal--dropdown .modal__list__link.is-selected:hover, .feedback-btn__icon, .feedback-btn__send, .feedback-modal__heading__prompt, .feedback-modal .frm__label, .module__title__link, .module__title__link:hover, .module__title__link:visited, .module__title__link:active, .about-info-box__heading, .about-info-box__info-label, .about-info-box__info-value, .about-info-box__link-row__link, .about-info-box__link-row__link:hover, .dropdown .dropdown__button, .dropdown.is-active .dropdown__button, .module__wikipedia-url, .module__wikipedia-url:hover, .module__official-url, .module__official-url:hover, .map-module-address, .map-module-place, .map-module-footer .btn.btn--primary, .modules__images__more, .modules__images__more:visited, .modules__images__more:active, .modules__images__more:hover{
    color: #e6e6e6;
  }

  /***/
  .tile--info .info, .tile__expand, .tile__expand:hover, .attribution__hr, .c-score__line, .c-score__foot, .has-score .c-score__line__name, .is-mobile .no-score .c-score__line--home, .c-score__line--vs1::before, .c-score__line--vs1::after {
    border-color: #292929;
  }

  .text--primary, .tx-clr--dk, .tx-clr--dk2, .tx-clr--slate, .tx-clr--slate-light {
    color: #dadada;
  }

  a, a.no-visited, .zci__body a, .zci__detail a, .zcm__link--sub, .zcm__link--sub:visited, .zci__body .chomp--link, .metabar .zci__more-at, .zci__body .zci__more-at, .zci__body .c-detail__rating :link, .zci__more-at, .tile--loc__more, .c-info__link, .c-icon__link, .chomp--link__mr, .chomp--link__ls {
    color: #e6e6e6;
  }
  .modal--dropdown--region .modal__header .frm__input {
    background-color: #4b4b4b;
  }
  .modal__header, .modal__footer {
    border-color: #e0e0e0 !important;
  }
  .search--home, .search--header, .is-ux-header-exp .search--header {
    background-color: #292929;
    border-color: #242424;
  }
  .search__input--adv {
    color: #e6e6e6;
  }

}
